@import "../partials/variables.scss";

//button and redirect styling
.btn, .redirect {
    padding: 15px 0px;
    border-radius: $border-radius-size;
    border: none;
    font-family: $font;
    font-size: $font-size-large;
    text-align: center;
    width: 100%;
    
    &.primary {
        background-color: $primary-dark;
        color: $font-colour-primary;
    }

    &.secondary {
        background-color: $background-colour;
        color: $primary-light;
    }
}

.redirect {
  text-decoration: none;
  line-height: 28px;
}

//checkbox
.checkbox-field {
  position: relative;
  max-width: 284px;
  min-width: 284px;
  margin-bottom: 1.5rem;
  height: 23.5px;
  border: 2px solid $primary-light;
  border-radius: $border-radius-size;
  padding: 1.2rem 1rem 0.5rem 1rem;
  background-color: $background-colour;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  .checkbox-input {
    display: none;
  }

  .checkbox-label {
    position: absolute;
    left: 0.8rem;
    top: -0.3rem;
    font-size: $font-size-small;
    color: $primary-dark;
    background-color: $background-colour;
    padding: 0 0.3rem;
    transition: all 0.3s ease;
    pointer-events: none;
    border-radius: 5px;
  }

  &::after {
    content: "x";
    font-size: 1rem;
    color: $primary-dark;
    transition: all 0.3s ease;
  }

  &.checked{
    background-color: $primary-light;
    color: $background-colour;
  
    &::after {
      content: "✓";  
      display: flex;     
      justify-content: flex-end; 
      width: 100%; 
      transition: all 0.3s ease;
      color: $background-colour;
    }
  }
}

//table styling
.tbl-main {
    width: 100%;
    border-collapse: collapse;
    margin: 1em 0;
    min-width: 300px;
    background: $background-colour;
    color: $font-colour-black;
    border-radius: $border-radius-size;
    overflow: hidden;

    tr {
        border-top: 1px solid $primary-light;
        border-bottom: 1px solid $primary-light;

        &:last-child {
            border-bottom: none;
        }
    }

    th, td {
        text-align: left;
        padding: 0.75em 1em;
    }

    th {
        background: $primary-dark;
        font-weight: bold;
        color: $font-colour-primary;
    }

    td {
        &:first-child {
            padding-top: .5em;
        }

        &:last-child {
            padding-bottom: .5em;
        }
    }
}

//text fields
.txt-fld {
    position: relative;
    margin-bottom: 1.5rem;
    max-width: 300px;
    min-width: 300px;
  
    .txt-val {
      width: 100%;
      border: 2px solid $primary-light;
      border-radius: $border-radius-size;
      padding: 1.2rem 0rem 0.5rem 1rem;
      font-size: 1.1rem;
      outline: none;
      background-color: $background-colour;
      transition: border-color 0.3s ease;
      height:23.5px;
  
      &::placeholder {
        color: transparent;
      }
  
      &:focus {
        border-color: $primary-dark;
      }
    }
  
    .txt-lbl {
      position: absolute;
      left: 0.8rem;
      top: 1.2rem;
      font-size: $font-size-large;
      color: $primary-light;
      background-color: $background-colour;
      padding: 0 0.3rem;
      transition: all 0.3s ease;
      pointer-events: none;
    }
  
    .txt-val:focus ~ .txt-lbl,
    .txt-val:not(:placeholder-shown) ~ .txt-lbl {
      top: -0.3rem;
      font-size: $font-size-small;
      color: $primary-dark;
    }

    .txt-val:focus{
      border-color: $primary-dark;
    }
}

.txt-area {
    position: relative;
    margin-bottom: 1.5rem;
    max-width: 300px;
    min-width: 300px;
  
    .txt-val {
      width: 100%;
      border: 2px solid $primary-light;
      border-radius: 8px;
      padding: 1.2rem 0rem 0.5rem 1rem;
      font-size: 1.1rem;
      outline: none;
      background-color: $background-colour;
      transition: border-color 0.3s ease;
      resize: none;
      overflow: hidden;
  
      &::placeholder {
        color: transparent;
      }
  
      &:focus {
        border-color: $primary-dark;
      }
    }
  
    .txt-lbl {
      position: absolute;
      left: 0.8rem;
      top: 1.2rem;
      font-size: $font-size-large;
      color: $primary-light;
      background-color: $background-colour;
      padding: 0 0.3rem;
      transition: all 0.3s ease;
      pointer-events: none;
    }
  
    .txt-val:focus ~ .txt-lbl,
    .txt-val:not(:placeholder-shown) ~ .txt-lbl {
      top: -0.3rem;
      font-size: $font-size-small;
      color: $primary-dark;
    }

    .txt-val:focus{
      border-color: $primary-dark;
    }
}

//dropdown
.dropdown-container {
  position: relative;
  margin-bottom: 1.5rem;
  max-width: 320px;
  min-width: 320px;
  
  .dropdown {
    width: 100%;
    border: 2px solid $primary-light;
    border-radius: $border-radius-size;
    padding: 1.2rem 0rem 0.5rem 1rem;
    font-size: 1.1rem;
    outline: none;
    background-color: $background-colour;
    transition: border-color 0.3s ease;
    cursor: pointer;

    &:focus {
      border-color: $primary-dark;
    }
  }

  .dropdown-label {
    position: absolute;
    left: 0.8rem;
    top: 1.2rem;
    font-size: $font-size-large;
    color: $primary-light;
    background-color: $background-colour;
    padding: 0 0.3rem;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  .dropdown:focus ~ .dropdown-label,
  .dropdown:not(:placeholder-shown) ~ .dropdown-label {
    top: -0.3rem;
    font-size: $font-size-small;
    color: $primary-dark;
  }
}

//radio buttons
.radio-field {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
  font-size: $font-size-large;

  .radio-input {
    display: none;
  }

  .radio-custom {
    width: 15px;
    height: 15px;
    border: 2px solid $primary-light;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: all 0.1s ease;
  }

  .radio-input:checked + .radio-custom {
    background-color: $primary-light;
  }
}
