@import "./partials/variables.scss";

body {
    font-family: $font;
    padding: 2em;
    background-color: $background-colour;
    margin: 1em;
}

.main {
    display: flex;
    gap: 1em;
}

.side-menu {
    padding: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom:20px;
    }
}

.content {
    width: 75%;
    padding: 10px;

    h1 {
        margin-top: 0;
    }
}