@import "./partials/variables.scss";

body {
    font-family: $font;
    padding: 2em;
    margin: 1em;
}

.main {
    display: flex;
    gap: 1em;
}

.side-menu {
    padding: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;

    & > * {
        margin-bottom:20px;
    }
}

.content {
    width: 75%;
    padding: 10px;

    .content-header {
        display:flex;
        justify-content: space-between;

        h1 {
            float:left;
            margin-top: 0;
        }

        .redirect {
            float:right;
            width: 300px;
        }

    }

   
}

.landing {

    .userinfo {
        background-color: $primary-dark;
        color: $background-colour;
        padding: 10px;
        margin: 10px 0;
        border-radius: $border-radius-size;

        span {
            font-weight: bold;
            text-align: right;
        }
    }

    .jobNotifs {
        background-color: $primary-dark;
        border-radius: $border-radius-size;
        padding: 10px;
        margin: 10px 0;

        h3 {
            color: $background-colour;
            text-align: center;
            margin:0;
        }

        ul {
            background-color: $background-colour;
            border-radius: 4px;
            list-style: none;
            padding-left: 0px;
        }
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

.login {
    background-color: $background-colour;
    border-radius: $border-radius-size;
    padding: 1em;
    
    h1{
        color: $primary-dark;
        text-align: center;
    }

    .txt-fld {
        margin: 1.5rem auto;
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: $background-colour;
    padding: 10px;
    border-radius: $border-radius-size;
    min-width: 300px;
    position:relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.close-button {
    position: absolute;
    top:10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    color: $primary-dark;
    cursor: pointer;
}